/* font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/*Header opn*/
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.nav-link {
  padding: 24px 0;
  display: block;
}
.contacts {
  margin-left: auto;
}
.contacts-link {
  display: block;
  padding: 24px 0;
}
/*Header stale*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}
.contacts-link {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* footer ops*/
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  max-width: 264px;
}
/* footer*/
.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo .logo-part {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/*main*/
.fotoim {
  display: block;
}
/*main one*/
.section-main {
  background-color: #2e2f42;
  padding: 188px 0;
  gap: 48px;
}
.logo-main {
  display: block;
  align-items: center;
  padding: 188px 0;
  max-width: 496px;
  margin: 0 auto 48px;
}
.main-ti {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
}
/*mail two*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container-num {
  padding: 120px 0;
}
.container-hero {
  display: flex;
  gap: 24px;
}
.com-tip {
  width: calc((100%-72) / 4);
}
.section-logo {
  margin-bottom: 8px;
}
/*main three*/
.secrion-three {
  padding: 120px 0;
}
.secrion-team {
  margin-bottom: 72px;
}
.container-foto {
  display: flex;
  gap: 24px;
}
.section-foto {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
.info-job {
  padding: 32px 0;
}
.section-name {
  text-align: center;
  margin-bottom: 8px;
}
.section-job {
  text-align: center;
}
/*main free*/
.container-free {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-portfolio {
  margin-bottom: 72px;
}
.container-port {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.lict-portf {
  width: calc((100% - 48px) / 3);
}
.container-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.section-item {
  margin-bottom: 8px;
}

.secrion-three {
  background-color: #f4f4fd;
}
.logo-main {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.main-ti {
  background-color: #4d5ae5;
  cursor: pointer;
}
.main-ti:hover,
.main-ti:focus {
  background-color: #404bbf;
}
.main-ti {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
.section-logo {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.secrion-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.section-foto {
  background-color: #fff;
}
.section-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.section-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.section-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.section-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}
.section-device {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
